:root {
  --main-bg-color: #c3bebe;
}

.main {
  margin: 0 auto;
  width: 653px;
  background-color: var(--main-bg-color);
  justify-content: space-between;
}

.main-content {
  display: flex;
  justify-content: space-around;
}

.temp {
  width: 200px;
  height: 200px;
}
.temp__main {
  width: 100%;
  height: 45%;
  display: flex;
  flex-direction: row;
}
.temp__main > div {
  font-size: 27px;
  display: flex;
  align-items: center;
}
.temp__feel {
  display: flex;
  flex-direction: row;
}

.temp__min {
  display: flex;
  flex-direction: row;
}

.temp__max {
  display: flex;
  flex-direction: row;
}

.wind {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.wind__main {
  display: flex;
  flex-direction: row;
}
.wind__gust {
  display: flex;
  flex-direction: row;
}

.location {
  width: 100%;
  display: flex;
  flex-direction: row;
}
p {
  margin: 5px;
  font-size: 13px;
}

.search {
  display: flex;
  flex-direction: column;
}
